.post{
    background: rgb(30, 47, 66);
    color: whitesmoke;
    box-shadow: 0 0 10px #181a1f;   
    transition: transform 150ms ease-in-out;
  }
  
  .post:hover{
    transform: scale(1.05);
  }

  .post > img{
    display: block;
    max-width: 100%;
    margin: 0 0 10px;
  }
  
  .post-content{
    padding: 16px;
  }