.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1.25vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;  
  padding: 20px;
}

.posts{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;    
}

.post{
  background: rgb(30, 47, 66);
  color: whitesmoke;
  box-shadow: 0 0 10px #181a1f;   
  transition: transform 150ms ease-in-out;
}

.post:hover{
  transform: scale(1.05);
}

.post > img{
  display: block;
  max-width: 100%;
  margin: 0 0 10px;
}

.post-content{
  padding: 16px;
}
